<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Code test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/build/css/styles.css">

  <script src="/build/js/modernizr.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/favicon/manifest.json">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <div class="page-wrapper" id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <header class="header" id="header">
            <a href="index.html" class="site-logo"><img src="/images/brand-logo.svg" alt="Code test"></a>

            <button type="button" class="header__mobile-btn js-nav-btn"><span class="visually-hidden">Menu
                Button</span></button>

            <nav role="navigation" aria-label="Primary Navigation" class="header__navigation">
              <ul class="site-menu">
                <li class="site-menu__item"><a href="#" class="site-menu__link">About Us</a></li>
                <li class="site-menu__item"><a href="#" class="site-menu__link">About You</a></li>
                <li class="site-menu__item"><a href="#" class="site-menu__link">Portfolio</a></li>
                <li class="site-menu__item"><a href="#" class="site-menu__link btn">Contact</a></li>
              </ul>
            </nav>
          </header>
        </div>
      </div>
    </div>